extends layout
block content
	p Add an asset to the register here
	form(name="addasset", method="POST", action="/addasset")
		input#asset_tag(type="text", placeholder="asset_tag", name="asset_tag")
		input#device_type(type="text", placeholder="device_type", name="device_type")
		input#make_model(type="text", placeholder="make_model", name="make_model")	
		input#serial(type="text", placeholder="serial", name="serial")	
		input#purchase_date(type="text", placeholder="purchase_date", name="purchase_date")	
		input#cover_type(type="text", placeholder="cover_type", name="cover_type")	
		input#cpu_type(type="text", placeholder="cpu_type", name="cpu_type")	
		input#ram(type="text", placeholder="ram", name="ram")	
		input#disk(type="text", placeholder="disk", name="disk")	
		input#storage(type="text", placeholder="storage", name="storage")	
		input#allocated_to(type="text", placeholder="allocated_to", name="allocated_to")	
		input#currently_location(type="text", placeholder="currently_location", name="currently_location")	
		input#rack(type="text", placeholder="rack", name="rack")	
		input#u_postion(type="text", placeholder="u_postion", name="u_postion")	
		input#vm(type="text", placeholder="vm", name="vm")	
		input#os(type="text", placeholder="os", name="os")	
		input#system_type(type="text", placeholder="system_type", name="system_type")	
		input#network(type="text", placeholder="network", name="network")	
		input#hostname(type="text", placeholder="hostname", name="hostname")	
		input#vlan_id(type="text", placeholder="vlan_id", name="vlan_id")	
		input#primary_ip(type="text", placeholder="primary_ip", name="primary_ip")	
		input#secondary_ip(type="text", placeholder="secondary_ip", name="secondary_ip")	
		input#subnet(type="text", placeholder="subnet", name="subnet")	
		input#gateway(type="text", placeholder="gateway", name="gateway")	
		input#mac_address(type="text", placeholder="mac_address", name="mac_address")	
		input#notes(type="text", placeholder="notes", name="notes")	
		input#details(type="text", placeholder="details", name="details")
		input#submit(type="submit", value="Submit") 